.main-info {
  margin: 0 auto;
  max-width: 1168px;
  padding: 0 0 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include desktop {
    padding-bottom: 120px;
  }
  @include tablet {
    width: 100%;
    padding-bottom: 0;
  }
  @include mobile {
    margin-top: 0;
    padding-top: 43px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 220px;

      @include tablet {
        margin: 120px auto 0;
        width: calc(100% - 160px);
      }
      @include mobile {
        width: calc(100% - 64px);
      }
      @include mobile-small {
        margin-top: 50px;
      }

      .text {
        font-family: $font-family-oswald;
        font-size: 20px;
        line-height: 1.15;
        font-style: normal;
        color: #fff;
        @include tablet {
          font-size: 4.8vw;
        }

        span {
          color: $red;
        }
      }

      &-subtitle {
        font-family: $font-family-goth;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 1.25;
        color: #FFFFFF;
        text-align: left;
        position: relative;
        z-index: 10;

        margin: 0;

          @include tablet {
            font-size: 10vw;
            margin-top: 20px;
          }
          span {
            color: $red;
          }
      }

      .buttons-block {
        display: flex;
        margin-top: 68px;

        @include tablet {
          margin-top: 10vw;
          flex-direction: column;
          width: 50vw;
          button {
            padding: 5.2vw 0;
            width: 100%;
            font-size: 3vw !important;
          }
        }

          .albums-btn {
            margin-right: 16px;
            background-color: #151515;
            @include tablet {
              margin-right: 0;
              margin-bottom: 5.2vw;
            }
          }
      }
  }
  .image {
    display: none;
    @include tablet {
      background: url("../../../images/bg-dragon-top.png") center no-repeat;
      background-size: contain;
      display: block;
      width: 100vw;
      height: 103vw;
      margin: 110px 0 0;
    }
    @include mobile-small {
      margin-top: 50px;
    }
  }
}
