.main-info {
  margin: 0 auto;
  max-width: 1168px;
  padding: 0 0 284px;
  @include tablet {
    flex-direction: column-reverse;
  }
  @include mobile {
    margin-top: 0;
    padding-top: 43px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 220px;

      @include tablet {
        margin-left: 0;
        align-items: center;
      }
      @include mobile-small {
        max-width: 323px;
      }

      .text {
        font-family: $font-family-oswald;
        font-size: 20px;
        line-height: 1.15;
        font-style: normal;
        color: #fff;

        span {
          color: $red;
        }
      }

      &-subtitle {
        font-family: $font-family-goth;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 1.25;
        color: #FFFFFF;
        text-align: left;
        position: relative;
        z-index: 10;

        margin: 0;

          @include tablet {
            text-align: center;
          }
          @include mobile-small {
            font-size: 30px;
          }
          span {
            color: $red;
          }
      }

      .buttons-block {
        display: flex;
        margin-top: 68px;
          .albums-btn {
            margin-right: 16px;
            background-color: #151515;
          }
      }
  }
  .image {
    width: 766px;
    max-width: 100%;
    @include tablet {
      margin-bottom: 41px;
    }
      img {
        width: 100%;
      }
  }
}
