.section.news {
  margin: 0 auto;
  padding: 148px 0 120px;
  width: calc(100% - 160px);
  max-width: 1168px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;

    .torch-right {
      display: none;
      @include desktop {
        display: block;
        width: 250px;
        height: 600px;
        background: url("../../../images/torch-right.png") center no-repeat;
        background-size: contain;
        position: absolute;
        z-index: -1;
        right: -100px;
        top: 0;
      }
    }
    .torch-left {
      display: none;
      @include desktop {
        display: block;
        width: 250px;
        height: 600px;
        background: url("../../../images/torch-left.png") center no-repeat;
        background-size: contain;
        position: absolute;
        z-index: -1;
        left: -100px;
        top: 0;
      }
    }
    .bg-hole {
      display: none;
      @include tablet {
        display: block;
        width: 1920px;
        height: 1200px;
        background:  url("../../../images/hole.jpg") center no-repeat;
        background-size: cover;
        position: absolute;
        z-index: -2;
        top: 0;
        left: calc(50% - 1070px);
      }
    }

  @include tablet {
    padding: 554px 0 260px;
  }
  @include mobile {
    width: calc(100% - 64px);
  }

    .section-header {
      width: fit-content;
      margin: 0 auto;

      .small-header {
        margin: 0 auto;
        text-align: center;
      }
    }

    .news-container {
      width: 100%;
      margin: 55px auto 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
      @include tablet {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

        .news-article {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 30px;
          min-height: 440px;

          width: calc((100% - 60px) / 3);
          &:last-of-type {
            margin-right: 0;
          }
          @include tablet {
            margin-right: 0;
            width: 100%;
            margin-top: 150px;
          }
          @include mobile {
            margin-top: 100px;
          }
          @include mobile-small {
            margin-top: 50px;
          }

            .image-container {
              width: 100%;
              height: 216px;
              background-color: #000;
              @include  tablet {
                background-color: #151515;
                width: 100%;
                height: 50vw;
              }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
            }

            .article-title {
              margin-top: 32px;
              width: 100%;
              text-align: center;
              //TODO font-family
              //font-family: ;
              font-size: 30px;
              line-height: 0.85;
              color: #fff;
              text-transform: uppercase;
              @include tablet {
                margin: 115px 0 0;
                font-size: 72px;
              }
              @include mobile {
                margin-top: 70px;
                font-size: 50px;
              }
              @include mobile-small {
                margin-top: 50px;
                font-size: 40px;
              }
            }

            .article-date {
              font-size: 22px;
              line-height: 1.15;
              margin: 16px auto 0;
              text-align: center;
              color: $red;
              text-transform: uppercase;
              @include tablet {
                font-size: 34px;
                margin: 40px 0 0;
              }
              @include mobile {
                margin-top: 32px;
              }
              @include mobile-small {
                font-size: 28px;
              }
            }

            .article-text {
              margin: 22px auto 0;
              width: 100%;
              text-align: center;
              color: #fff;
              opacity: .3;
              font-size: 17px;
              line-height: 1.5;
              //TODO font-family
              //font-family: ;
              @include tablet {
                font-size: 41px;
                margin: 65px 0 0;
              }
              @include mobile {
                margin-top: 32px;
                font-size: 32px;
              }
              @include mobile-small {
                margin-top: 28px;
                font-size: 28px;
              }
            }
        }
    }

    .news-btn {
      margin: 28px auto 0;
      width: fit-content;
      padding: 26px 54px;
      @include tablet {
        margin: 138px auto 0;
        width: 50%;
        padding: 5.2vw 0;
        font-size: 3vw !important;
      }
      @include mobile-small {
        margin-top: 60px;
      }
    }
}
