.section.video {
  margin: 0 auto;
  padding: 146px 0 20px;
  flex-direction: column;

    .section-header {
      width: fit-content;
      margin: 0 auto;

        .small-header {
          margin: 0 auto;
          text-align: center;
        }
    }

    .videos-container {
      margin: 112px auto 0;
      display: flex;
      justify-content: space-around;
      align-items: center;

        .video-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 100px;
          &:last-of-type {
            margin-right: 0;
          }

            .video-play-block {
              width: 96px;
              height: 96px;
              border: 20px solid #151515;
              background: url("../../../images/icon-play.svg") center no-repeat;
              background-size: 70% 70%;
            }

            .video-title {
              margin: 44px 0 0;
              font-family: $font-family-oswald;
              width: 140px;
              text-align: center;
              font-size: 24px;
              line-height: 1.05;
            }
          &:nth-of-type(2n - 1) {
            .video-title {
              margin-top: 76px;
            }
          }

        }
    }
}
