.video {
  flex-direction: column;
  width: 100%;
  max-width: 1690px;
  margin: 158px auto 0;
  overflow-x: hidden;
  z-index: 10;
  @include tablet {
    margin-top: 80px;
  }
  .carousel {
    width: calc(100% - 100px);
    max-width: 1690px;
    margin: 75px auto 0;
    padding-bottom: 55px; // for pagination

    @include tablet {
      width: 100%;
      padding-bottom: 40px;
    }
    .swiper-button-prev {
      top: auto;
      bottom: 0;
      left: calc(50% - 87px);
      width: 37px;
      height: 37px;
      border: 2px solid #fff;
      background: url("../../../../assets/images/arrow-back.svg") center no-repeat;
      z-index: 99;
      @include tablet {
        display: none;
      }

      &:after {
        content: '';
        width: 100%;
        height: 100%;
      }
    }
    .swiper-button-next {
      top: auto;
      bottom: 0;
      left: calc(50% + 50px);
      width: 37px;
      height: 37px;
      border: 2px solid #fff;
      background: url("../../../../assets/images/arrow-right.svg") center no-repeat;
      z-index: 99;
      @include tablet {
        display: none;
      }

      &:after {
        content: '';
        width: 100%;
        height: 100%;
      }
    }

    .swiper-pagination {
        bottom: 8px;
      width: 200px;
      left: calc(50% - 100px);
        .swiper-pagination-bullet {
          border-radius: 0;
          height: 8px;
          width: 8px;
          z-index: 99;
          border: 1px solid #fff;

          &-active {
            background: #fff;
          }
        }

      }
      .swiper-wrapper {
        padding-left: 0;
          .swiper-slide {
            height: 729px !important;
            @include tablet {
              width: 60%;
              max-width: 512px;
              height: 220px !important;
              margin-top: 40px;
            }
            @include mobile {
              max-width: 242px;
              height: 114px !important;
              margin-top: 14px;
            }
          }
          .swiper-slide-active {
            z-index: 99;
            @include tablet {
              margin-top: 0;
              width: 512px;
              height: 300px;
            }
            @include mobile {
              width: 242px;
              height: 142px;
            }
          }
      }
  }
  .photos-mobile {
    width: calc(100% - 100px);
    margin: 45px auto 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include mobile {
      width: calc(100% - 40px);
      margin-top: 20px;
    }
      .image-wrapper {
        width: 31%;
        height: 19vw;
        margin-right: 3%;
        margin-bottom: 35px;
        &:nth-of-type(3n) {
          margin-right: 0;
        }
        @include mobile {
          margin-bottom: 16px;
        }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
  }
}
