@import "../variables";

button {
  padding: 12px 30px;
  background: transparent;
  border: 1px solid #fff;

  font-family: $font-family-montserrat !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 10;
    &:focus {
      box-shadow: none;
    }
}
