.main-wrapper {
  width: 100vw;
  overflow-x: hidden;
}
.section {
  max-width: 1342px;
  width: calc(100% - 64px);

  margin: 0 auto;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  @include mobile-small {
    width: calc(100% - 36px);
  }
}

.section-header {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
    .section-all {
      cursor: pointer;
      &:hover {
        color: #7c2525;
      }
    }
  @include desktop {
    width: calc(100% - 100px);
  }
  @include mobile {
    width: calc(100% - 40px);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
