.main-wrapper {
  width: 100vw;
  overflow-x: hidden;
}
.section {
  max-width: 1342px;
  width: calc(100% - 64px);

  margin: 0 auto;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  @include mobile-small {
    width: calc(100% - 36px);
  }
}

.section-header {
  width: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;

    .small-header {
      font-family: $font-family-goth;
      color: #fff;
      font-size: 30px;
      line-height: 0.9;
    }
    .big-header {
      font-family: $font-family-goth;
      color: $red;
      font-size: 72px;
      line-height: 0.9;
    }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
