.footer {
  margin: 0 auto;
  width: 100vw;
  padding: 86px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

    .footer-contacts {
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;

        .contacts-item {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          position: relative;
          bottom: 13px;

          &:nth-of-type(2) {
            align-items: flex-start;
          }

            .contacts-text {
              font-family: $font-family-oswald;
              font-size: 17px;
              line-height: 1.19;
              text-transform: uppercase;
              &.contacts-title {
                color: $red;
              }
            }
        }
        .contacts-logo {
          margin: 0 56px;
          display: block;
          width: 182px;
          height: 142px;
          background: url("../../images/logo.png") center no-repeat;
          background-size: contain;
        }

    }

    .footer-social-links {
      margin: 40px auto 0;
      padding: 0 0 80px;
      display: flex;
      align-items: center;
      justify-content: space-around;

        .social-links-link {
          width: 50px;
          height: 50px;
          background-color: #151515;
          margin-right: 12px;
          &:last-of-type {
            margin-right: 0;
          }
        }
    }

    .footer-bottom-part {
      margin: 0 auto;
      padding: 45px 0;
      background-color: #151515;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

        p {
          font-size: 14px;
          line-height: 1.8;
          margin: 0;
          padding: 0;
          color: #54525B;
        }

        .band-name {
          color: #fff;
        }

        .docs-link {
          text-decoration: none;
          color: #fff;
        }
    }
}
