.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: calc(100vw - 354px);
  max-width: 1168px;
  margin: 0 auto;
  padding: 20px 0 0;
  position: relative;

    @include tablet {
      width: calc(100vw - 100px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 0 60px;
    }
    @include mobile {
      width: calc(100vw - 60px);
      height: 0;
      padding: 0;
    }

  .logo {
    width: 122px;
    height: 99px;
    background: url("../../images/logo.png") center no-repeat;
    background-size: contain;
    margin-right: 66px;
  }

  .lang {
      position: absolute;
      top: 41px;
      left: -150px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      z-index: 99;

        @include tablet {
          display: none;
        }

        &-btn {
          font-family: $font-family-montserrat;
          font-size: 12px;
          color: $white;
          border: none;
          background: none;
          padding: 0;
          margin: 0;
            &.active {
              color: $red;
            }
        }
        &-switch {
          width: 30px;
          height: 14px;
          background: #292929;
          border-radius: 100px;
          margin: 0 5px;
          position: relative;
          z-index: 5;

            &:after {
              display: block;
              content: '';
              height: 12px;
              width: 12px;
              z-index: 10;
              position: absolute;
              top: 1px;
              right: 1px;
              border-radius: 50%;
              background-color: $red;
              transition: all linear .2s;
            }
            &.en:after {
              transform: translateX(-16px);
              transition: all linear .2s;
            }
        }
    }

    .nav {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      transition: all linear 0.3s;

      @include tablet {
          display: none;
            &.mobile-shown {
              display: flex;
            }
        }

        a {
          margin-right: 30px;
          font-family: $font-family-oswald;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 1.24;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }
    }

    .mobile-menu {
      margin: 0;
      padding: 0;
      display: none;
      background: none;
      border-radius: 0 !important;
      height: 17px;
      width: 42px !important;
      border-top: 3px solid $white;
      border-bottom: 3px solid $white;
      border-left: none;
      border-right: none;
      position: absolute;
      z-index: 99;
      top: 30px;
      right: 0;
        &:before {
          display: block;
          content: '';
          height: 17px;
          width: 42px;
          border-top: 3px solid $white;
          border-bottom: 3px solid $white;
          position: relative;
          top: 4px;
          right: 0;
          transition: all ease-in .2s;
        }
        &.opened {
          right: 50px;
          @include mobile {
            right: 30px;
          }
          &:before {
            transition: all ease-in .2s;
            width: 30px;
            transform: translateX(12px);
          }

        }
      @include tablet {
          display: inline-block;
        }
    }
  &.mobile-shown {
    @include tablet {
      width: 100%;

      .lang {
        display: flex;
        top: 61px;
        left: 50px;
      }
      .nav {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 30px 50px 75px;
        background: linear-gradient(180deg, #000000 29.31%, rgba(0, 0, 0, 0) 109.91%);
        z-index: 50;
        &-item {
            margin-right: 25px;
              a {
                font-size: 15px;
              }
          }
      }
    }
    @media (max-width: 827px) {
      align-items: flex-start;
      .lang {
        top: 31px;
        left: 20px;
        z-index: 55;
      }
      .nav {
        flex-direction: column;
        padding: 31px 0 22px;
        background: #000;
        &-item {
          margin-right: 0;
          margin-bottom: 25px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }

      }
    }

  }
}
