.background-wrapper {
  width: 100vw;
  background-color: rgba(14,14,14,1);
  padding: 109px 0 0;
  @include tablet {
    padding-top: 122px;
  }
  @include mobile {
    padding-top: 0;
  }
}

.page-news {
  .section-header {
    width: 100%;
  }
  .news-container {
    width: 100%;
    margin: 67px auto 0;
    display: flex;
    flex-direction: column;
    @include tablet {
      margin-top: 45px;
    }
    @include mobile {
      margin-top: 27px;
    }
      .article {
        width: 100%;
        padding: 32px 70px;
        margin-bottom: 154px;
        background: linear-gradient(100deg, rgba(22,22,22,1) 45%, rgba(0,0,0,1) 45%);
        @include tablet {
          padding: 15px 25px;
          margin-bottom: 57px;
        }
        @include mobile {
          margin-bottom: 30px;
        }
          .images-block {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            height: 368px;
            @include tablet {
              height: 279px;
            }
            @include mobile {
              height: 185px;
            }
              .image-wrapper {
                width: 100%;
                height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
              }
          }

          .top-block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 50px auto 0;
            @include tablet {
              margin-top: 20px;
            }
            @include mobile {
              margin-top: 15px;
            }

              .title {
                font-family: $font-family-montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 1.2;
                display: flex;
                align-items: center;
                text-align: left;
                color: #B6B6B6;
                @include tablet {
                  font-size: 25px;
                }
                @include mobile {
                  font-size: 15px;
                }
              }
              .date {
                white-space: nowrap;
                margin-left: 40px;
                font-family: $font-family-montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 1.2;
                text-align: right;
                display: flex;
                align-items: center;
                color: rgba(182, 182, 182, 0.5);
                @include tablet {
                  white-space: break-spaces;
                  font-size: 20px;
                }
                @include mobile {
                  font-size: 15px;
                }
              }
          }
      }

      .text {
        width: 100%;
        margin-top: 50px;
        font-family: $font-family-montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        text-align: left;
        color: #B6B6B6;
        @include tablet {
          margin-top: 20px;
        }
        @include mobile {
          margin-top: 15px;
          font-size: 12px;
        }
          p, a, b, strong {
            color: #b6b6b6 !important;
          }
      }
  }

}
