@import "./assets/scss/fonts.css";
@import "./assets/scss/all.scss";

.App {
  min-height: 100vh;
  text-align: center;
  position: relative;
  background-color: #000;
}

.background-dragon-top {
  background: url("./assets/images/bg-dragon-top.png") center no-repeat;
  background-size: contain;
  width: 749px;
  height: 771px;
  position: absolute;
  top: 120px;
  right: 420px;
  z-index: 5;
}
